# OS Metadata
.DS_Store
Thumbs.db

# WordPress & Editor Specific
wp-config.php
node_modules/
.vscode/
.idea/
*.log

# Backups and Compressed Files
*.zip
*.tar.gz
*.rar

# Theme Specific
screenshot.png.bak
.thumbs/
