/*
 Theme Name:   Free Fire Topup Child Theme
 Description:  Custom WooCommerce Child Theme for FF Topup
 Author:       Your Name
 Template:     Template: astra
 Version:      1.0.0
*/

.player-id-field { margin: 20px 0; }
.player-id-field input { width: 100%; border: 2px solid #ff4500; padding: 10px; }
